<a class="signin" href="<%= Routes.auth_path(@conn, :request, String.downcase(@net)) %>">
  <img class="signin__img" src="<%= Routes.static_path(@conn, "/img/#{String.downcase(@net)}.svg") %>"/>
  Sign using <%= @net %>
</a>
